<nav id="navbar">
    <div id="nav-title">Clarkey's Games</div>


    <div id="options-container">
        <div class="option">
            <a class="option-link" href="/games" id="games">Games</a>
            <div class="dropdown-items">
                <a href="">Add Game</a>
                <a href="">Remove Game</a>
            </div>
        </div>
        <div class="option">
            <a class="option-link" href="/categories" id="categories">Categories</a>
            <div class="dropdown-items">
                <a href="">Add Category</a>
                <a href="">Remove Category</a>
            </div>
        </div>
        <div class="option">
            <a class="option-link" href="/developers" id="developers">Developers</a>
            <div class="dropdown-items">
                <a href="">Add Developer</a>
                <a href="">Remove Developer</a>
            </div>
        </div>
    </div>

</nav>